#quote-box {
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Ubuntu Mono', monospace;
  border: 2px solid white;
  border-radius: 5px;
  gap: 10px;
}

#text {
  margin: auto;
}

#author {
  margin: auto;
}

#new-quote {
  margin: auto;
}

#social {
  margin: auto;
}


